/postgres-keycloak-data
2024__yandex-architecture-sso.code-workspace
/.idea
/postgres-crm-data
/clickhouse-data
/airflow/dags/__pycache__/
/reports-api/.mvn
/reports-api/mvnw
/reports-api/mvnw.cmd
.DS_Store