version: '3.8'

x-airflow-common: &airflow-common
  build:
    context: ./airflow
    dockerfile: Dockerfile
  environment: &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor #локальный запуск
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow_user:airflow_password@airflow-db/airflow
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow_user:airflow_password@airflow-db/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    AIRFLOW__WEBSERVER__SECRET_KEY: 'your_airflow_webserver_sec_key'
    _PIP_ADDITIONAL_REQUIREMENTS: ''
    AIRFLOW_INPUT_DIR: '/opt/airflow/dag-inputs'
    AIRFLOW_CONN_CRM_DB: postgresql+psycopg2://crm_user:crm_password@crm-db:5432/crm_db
    AIRFLOW_CONN_TELEMETRY_DB: clickhouse://telemetry_user:telemetry_password@telemetry-db:9000/telemetry_db
    AIRFLOW_CONN_OLAP_DB: clickhouse://olap_user:olap_password@olap-db:9000/bionicpro
  volumes:
    - ./dags:/opt/airflow/dags
    - ./requirements.txt:/opt/airflow/requirements.txt
    - ./data:/opt/airflow/sample_files
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on: &airflow-common-depends-on
    airflow-db:
      condition: service_healthy
  networks:
    - dag_olap

services:
  keycloak-db:
    image: postgres:14
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: keycloak_password
    volumes:
      - ./postgres-keycloak-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test:
        - CMD
        - pg_isready
      interval: 10s
      retries: 5
      start_period: 5s
    networks:
      - dag_olap

  keycloak:
    image: quay.io/keycloak/keycloak:21.1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak_db
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloak_password
    command: 
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "8080:8080"
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - dag_olap

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - keycloak
    environment:
      REACT_APP_API_URL: http://localhost:8000
      REACT_APP_KEYCLOAK_URL: http://localhost:8080
      REACT_APP_KEYCLOAK_REALM: reports-realm
      REACT_APP_KEYCLOAK_CLIENT_ID: reports-frontend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: report-api
    depends_on:
      - keycloak
      - olap-db
    ports:
      - "8000:8000"
    networks:
      - dag_olap

  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    command: --copy-service
    volumes:
      - ./ldap/config.ldif:/container/service/slapd/assets/config/bootstrap/ldif/50-bootstrap.ldif
    environment:
      - LDAP_ORGANISATION=example-com
      - LDAP_DOMAIN=example.com
      - LDAP_ADMIN_PASSWORD=admin
    ports:
      - "389:389"
      - "636:636"
    networks:
      - dag_olap

  crm-db:
    image: postgres:14
    environment:
      POSTGRES_DB: crm_db
      POSTGRES_USER: crm_user
      POSTGRES_PASSWORD: crm_password
    volumes:
        - ./crm-db:/docker-entrypoint-initdb.d
    ports:
      - "5444:5432"
    healthcheck:
      test:
        - CMD
        - pg_isready
      interval: 10s
      retries: 5
      start_period: 5s
    networks:
      - dag_olap

  telemetry-db:
    image: clickhouse/clickhouse-server:latest
    environment:
      CLICKHOUSE_USER: telemetry_user
      CLICKHOUSE_PASSWORD: telemetry_password
      CLICKHOUSE_DB: telemetry_db
    ports:
      - "8123:8123"
      - "9431:9000"
    volumes:
      - ./telemetry-db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./telemetry-db/telemetry.csv:/var/lib/clickhouse/user_files/telemetry.csv
      - ./telemetry-db/users.xml:/etc/clickhouse-server/users.d/users.xml
    healthcheck:
      test: ["CMD-SHELL", "clickhouse-client --query 'SELECT 1'"]
      interval: 1s
      timeout: 3s
      retries: 30
    networks:
      - dag_olap

  olap-db:
    image: clickhouse/clickhouse-server:latest
    environment:
      CLICKHOUSE_USER: olap_user
      CLICKHOUSE_PASSWORD: olap_password
      CLICKHOUSE_DB: bionicpro
    ports:
      - "8223:8123"
      - "9531:9000"
    volumes:
      - ./olap-db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "clickhouse-client --query 'SELECT 1'"]
      interval: 1s
      timeout: 3s
      retries: 30
    networks:
      - dag_olap

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: minio_user
      MINIO_ROOT_PASSWORD: minio_password
    command: server --console-address ":9001" /data

  airflow-webserver:
    <<: *airflow-common
    ports:
      - "8070:8080"
    depends_on:
      airflow-db:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    command: webserver
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - dag_olap

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      airflow-db:
        condition: service_healthy
      airflow-webserver:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - dag_olap

  airflow-triggerer:
    <<: *airflow-common
    depends_on:
      airflow-db:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    command: bash -c "airflow triggerer"
    healthcheck:
      test:
        - CMD-SHELL
        - airflow jobs check --job-type TriggererJob --hostname "${HOSTNAME}"
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    networks:
      - dag_olap

  airflow-cli:
    <<: *airflow-common
    depends_on:
      airflow-db:
        condition: service_healthy
    profiles:
      - debug
    command:
      - bash
      - -c
      - airflow
    networks:
      - dag_olap

  airflow-init:
    <<: *airflow-common
    depends_on:
      airflow-db:
        condition: service_healthy
      crm-db:
        condition: service_healthy
      telemetry-db:
        condition: service_healthy
      olap-db:
        condition: service_healthy
    command: >
      bash -c " airflow db init && airflow users create \ --username admin \ --firstname admin \ --lastname admin \ --role Admin \ --email admin@sample.ru \ --password admin 
      
      "
    networks:
      - dag_olap

  airflow-db:
    image: postgres:14
    environment:
      POSTGRES_DB: airflow
      POSTGRES_USER: airflow_user
      POSTGRES_PASSWORD: airflow_password
    volumes:
        - ./postgres-airflow-data:/var/lib/postgresql/data
    ports:
      - "5454:5432"
    restart: always
    healthcheck:
      test:
        - CMD
        - pg_isready
    networks:
      - dag_olap

volumes:
  minio_storage: {}
networks:
  dag_olap: