version: '3.8'

x-airflow-common: &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    AIRFLOW__WEBSERVER__SECRET_KEY: 'your_airflow_webserver_sec_key'
    _PIP_ADDITIONAL_REQUIREMENTS: ''
    AIRFLOW_INPUT_DIR: '/opt/airflow/dag-inputs'

    CRM_DB_HOST: crm_db
    CRM_DB_NAME: crm_db
    CRM_DB_USER: crm_user
    CRM_DB_PASSWORD: crm_password
    CRM_DB_PORT: "5432"

    TELEMETRY_DB_HOST: telemetry_db
    TELEMETRY_DB_NAME: telemetry_db
    TELEMETRY_DB_USER: telemetry_user
    TELEMETRY_DB_PASSWORD: telemetry_password
    TELEMETRY_DB_PORT: "5432"

    CLICKHOUSE_HOST: clickhouse
    CLICKHOUSE_PORT: "9000"
    CLICKHOUSE_USER: ch_user
    CLICKHOUSE_PASSWORD: ch_password
    CLICKHOUSE_DB: reports_olap
  volumes:
    - ./dags:/opt/airflow/dags
    - ./dags/sql:/opt/airflow/dags/sql
    - ./requirements.txt:/opt/airflow/requirements.txt
    - ./data:/opt/airflow/sample_files
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    airflow-postgres:
      condition: service_healthy
  networks:
    - bionicpro_data

services:
  airflow-postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - ./db/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - airflow_pg_data:/var/lib/postgresql/data
    logging:
      options:
        max-size: 10m
        max-file: "3"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always
    networks:
      - bionicpro_data

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command: -c "
      airflow db migrate && \
      airflow users create \
        --username admin \
        --firstname admin \
        --lastname admin \
        --role Admin \
        --email admin@local \
        --password admin
      "
    depends_on:
      airflow-postgres:
        condition: service_healthy
    networks:
      - bionicpro_data

  airflow-webserver:
    <<: *airflow-common
    ports:
      - "8081:8080"
    command: webserver
    depends_on:
      airflow-postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - bionicpro_data

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      airflow-postgres:
        condition: service_healthy
      airflow-webserver:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://airflow-webserver:8080/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - bionicpro_data

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    depends_on:
      airflow-postgres:
        condition: service_healthy
      airflow-webserver:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "airflow jobs check --job-type TriggererJob --hostname ${HOSTNAME}"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    networks:
      - bionicpro_data

  airflow-cli:
    <<: *airflow-common
    profiles:
      - debug
    entrypoint: /bin/bash
    command: -c "airflow"
    depends_on:
      airflow-postgres:
        condition: service_healthy
    networks:
      - bionicpro_data

networks:
  bionicpro_data:
    external: true

volumes:
  airflow_pg_data:
